.header {
   position: sticky;
   top: -110px;
   z-index: 2;

   .top-header {
      background-color: $thirdColor;
      .container {
         .menu-channel {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-left: -11px;

            .item-channel {
               padding: 6px 0;
               font-size: 1.2rem;

               .item-channel__link {
                  padding: 6px 11px;
                  color: #bbb;
                  transition: color 0.2s;

                  &:hover {
                     color: #fff;
                  }
               }
            }
         }
      }
   }

   .main-header {
      background-color: $primaryColor;
      .container {
         display: flex;
         align-items: center;
         padding: 20px 0 13px;

         .wrap-logo {
            width: 180px;
            .link-logo {
               .logo {
                  display: block;
                  max-width: 100%;
               }
            }
         }

         .trending {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-left: 60px;

            .wrap-icon__trend {
               font-size: 1.8rem;
            }

            .trend-list {
               display: flex;
               align-items: center;
               gap: 16px;
               .trend-item {
                  border-radius: 99px;
                  font-size: 1.5rem;
                  background-color: $secondaryColor;

                  transition: background-color 0.2s;

                  &:hover {
                     background-color: #3e3e3e;
                  }

                  .trend-item__link {
                     display: inline-block;
                     padding: 7px 15px;
                     font-weight: 500;
                     color: #fff;
                  }
               }
            }
         }

         // .form-search {
         //    display: flex;
         //    justify-content: center;
         //    align-items: center;
         //    gap: 16px;

         //    margin-left: auto;
         //    .search {
         //       border-radius: 99px;
         //       padding: 7px 15px;
         //       min-width: 220px;
         //       background-color: #fff;

         //       &::-webkit-search-cancel-button {
         //          margin-left: 10px;
         //       }

         //       &::placeholder {
         //          font-size: 1.4rem;
         //       }
         //    }
         //    .btn-search {
         //       font-size: 2.2rem;
         //       background-color: $primaryColor;
         //       transition: scale 0.3s;

         //       &:hover {
         //          scale: 1.1;
         //       }
         //    }
         // }
      }
   }

   hr {
      height: 1px;
      background-color: $secondaryColor;
   }

   .nav {
      margin-left: -14px;
      background-color: $primaryColor;

      .container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-size: 1.5rem;

         .menu-list {
            display: flex;
            align-items: center;

            .menu-item {
               padding: 12px 0;
               .menu-item__link {
                  padding: 12px 14px;
                  color: #fff;

                  transition: color 0.2s;

                  &:hover {
                     color: $hoverColor;
                  }
               }
            }
         }

         .wrap__account {
            position: relative;
            .btn__account-login {
               display: inline-flex;
               align-items: baseline;
               justify-content: space-between;
               min-width: 105px;
               gap: 10px;
               line-height: 1.4;
               font-weight: 500;
               color: #fff;
               background-color: $primaryColor;

               transition: color 0.2s, scale 0.3s;

               &:hover {
                  scale: 1.05;
               }

               .fa-user {
                  font-size: 1.8rem;
                  transition: color 0.2s;
               }
            }

            .btn__account-option {
               @extend .btn__account-login;

               align-items: center;
               justify-content: flex-end;
               position: relative;

               height: 100%;

               > * {
                  pointer-events: none;
               }

               .user__hi {
                  margin-right: -5px;
               }

               .user__name {
                  @include three-dots();
                  max-width: 150px;
               }

               .user__avatar {
                  min-width: 30px;
                  .user__avatar-img {
                     display: block;
                     max-width: 100%;
                  }
               }
            }

            .btn__account-logout {
               position: absolute;
               left: 0;
               bottom: 0;
               width: 100%;
               padding: 10px 5px;
               color: #fff;
               background-color: $primaryColor;

               translate: 0 125%;

               @include show-hide;

               &:hover {
                  color: $hoverColor;
               }
            }
         } // End  .wrap__account
      }

      .alert {
         max-width: 30%;
         width: 20%;
         margin: 20px auto;
         padding: 30px;
         border-radius: 5px;
         box-shadow: 0 0 15px 5px #ccc;

         position: fixed;
         top: 200px;
         right: 30px;

         opacity: 1;
         visibility: visible;
         translate: 0;

         transition: opacity 0.3s, visibility 0.3s, translate 0.3s;

         &.hide {
            translate: 120% 0;
            opacity: 0;
            visibility: hidden;
         }

         .close {
            position: absolute;
            width: 30px;
            height: 30px;
            opacity: 0.5;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
            right: 15px;
            top: 25px;
            font-size: 1.6em;
            cursor: pointer;

            display: inline-flex;
            justify-content: center;
            align-items: center;
         }
      }
   }
}
