$primaryColor: #000;
$secondaryColor: #000;
$font: "Nunito", sans-serif;
$fontSize: 1.6rem;
$linkColor: #2361ff;
$textColor: #000;
$btnColor: #ffffff;
$btnBg: #aaa;
$btnBorder: #ccc;
$headingColor: #000;
