$primaryColor: #222;
$secondaryColor: #4e4e4e;
$thirdColor: #2e2e2e;
$font: "Inter", sans-serif;
$fontSize: 1.5rem;
$linkColor: #000;
$textColor: #000;
$btnColor: #000;
$hoverColor: #ed2e2e;
$btnBg: #ccc;
$headingColor: #333;
