$primaryColor: #84a98c;
$secondaryColor: #52796f;
$thirdColor: #354f52;
$font: "Inter", sans-serif;
$fontSize: 1.6rem;
$textColor: #2f3e46;
$linkColor: #2f3e46;
$btnColor: #000;
$headingColor: #2f3e46;
$bgBody: #f8f9fd;
$bgHeader: $secondaryColor;
