<article class="bg-body-tertiary p-4 position-relative" style="border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;">
  <h1 class="mb-4 text-center">Vui lòng nhập mật khẩu để mở liên kết!</h1>

  <!-- shortened url password -->
  <form method="post" class="d-grid gap-3 col-6 mx-auto">
    <div>
      <div class="form-floating">
        <input name="password" value="<%= req.old.password %>" type="password" class="form-control" id="passwordUrl" placeholder="Mật khẩu của liên kết">
        <label for="passwordUrl">Mật khẩu của liên kết</label>
      </div>
      <%- req.errors.password ? `<span class="text-danger d-inline-block mt-1">${req.errors.password}</span>` : "" %>
    </div>

    <button class="btn btn-primary">Mở liên kết</button>
  </form>

  <% if (msg) { %>
  <div class="position-absolute" style="top: 24px; right: 24px;">
    <div id="msgToast" data-bs-delay="4000" class="<%= typeMsg %> toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body"><%= msg %></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <% } %>
</article>