$primaryColor: #030d22;
$secondaryColor: #05cfff;
$font: "Roboto", sans-serif;
$fontSize: 1.6rem;
$linkColor: #2361ff;
$textColor: #000;
$btnColor: $primaryColor;
$btnBg: $secondaryColor;
$headingColor: #fff;
