* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

body {
   font-family: "Asap", sans-serif;
   line-height: 1.6;
}

main {
   width: 90%;
   max-width: calc(100% - 48px);
   margin: 40px auto 0;
}

a {
   text-decoration: none;
   color: inherit;
}

.property__title {
   font-size: 2rem;
   display: flex;
   align-items: center;
}

.property__title--separator {
   flex: 1;
   margin-left: 20px;
   height: 1px;
   background-color: #ddd;
}

.property__list {
   display: flex;
   gap: 15px;
   padding: 15px 0;
   margin: 5px 0;
   overflow: auto;
}

.property__item {
   flex: 1;
   min-width: max-content;
   border-radius: 99px;
   padding: 10px 17px;
   list-style: none;
   text-align: center;
   background-color: #e5e5e5;
   transition: 0.3s;
}

.property__item:hover {
   background-color: #af7b38;
   cursor: pointer;
}

.property__list:not(:hover) .property__item--active {
   background-color: #af7b38;
}

.property__item--location {
   font-size: 1.5rem;
   font-weight: 600;
}

.property__item--quantity {
   font-size: 1.2rem;
   font-weight: 500;
}

.property__detail {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 220px 220px;
   gap: 20px;
}

.property__card {
   position: relative;
   border-radius: 4px;
}

.property__card--link::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.2);
   transition: 0.8s;
}
.property__card--district:hover ~ .property__card--link::after,
.property__card--sale:hover ~ .property__card--link::after,
.property__card--link:hover::after {
   left: 100%;
   border-radius: 4px;
}

.property__card--img {
   width: 100%;
   height: 100%;
   border-radius: 4px;
   object-fit: cover;
}

.property__card--district,
.property__card--sale {
   position: absolute;
   color: #fff;
   z-index: 1;
}

.property__card--district {
   top: 25px;
   left: 20px;
   font-size: 2.2rem;
   font-weight: 600;
}

.property__card--sale {
   bottom: 20px;
   left: 20px;
   font-size: 1.6rem;
}

.property__card--sale-num {
   font-weight: 600;
}
