<article class="vh-100 align-items-center fs-1 d-flex flex-column justify-content-center gap-4">
  <h1 class="text-center">Trang này không tồn tại</h1>
  <a href="/" class="btn btn-primary btn-lg">Trang chủ</a>
</article>