<section class="vh-100 d-flex flex-column justify-content-center align-items-center pb-5">
  <h1 class="text-center my-0" style="font-size: 150px;">hello</h1>
  <strong class="fw-light" style="font-size: 70px;font-family: 'Pacifico', cursive;"><%= req.username %></strong>
</section>