$fontSize: 1.6rem;
$font: 'Nunito', sans-serif;

$primaryColor: #ffa500;
$primaryColorLight: #ffa500;
$secondaryColor: #fab840;

$linkColor: #fff;
$textColor: #8a8a8a;
$textColorLight: #9a9a9a;
$textColorHover: #dcdcdc;
$btnColor: #000;
$btnBg: #ccc;
$headingColor: #fff;
$bg: #161616;
$bgItem: #1a1a1a;
$borderColor: #242424;
$dark: #333333;
