<form class="" method="post" id="formForgotPass">
  <h1 class="fs-2 mb-4 fw-medium text-center">Quên mật khẩu</h1>

  <div class="form-floating mb-3">
    <input name="email" type="text" id="inputEmail" class="form-control" placeholder="" value="<%= req.old.email %>" />
    <label for="inputEmail">Email</label>
    <% if (req.errors.email) { %>
    <span class="text-danger d-inline-block mt-1"><%= req.errors.email %></span>
    <% } %>
  </div>

  <button id="btnSubmit" class="btn fw-medium btn-primary w-100 py-2" type="submit">Gửi liên kết đặt lại mật khẩu</button>
</form>

<hr>
<a href="/auth/login" class="btn btn-secondary w-100 py-2 mb-3">Đăng nhập</a>
<a href="/auth/register" class="btn btn-secondary w-100 py-2">Đăng Ký</a>

<% if (msg.length) { %>
<div class="position-fixed" style="top: 20px;right: 18px;">
  <div id="msgToast" data-bs-delay="4000" class="<%= typeMsg[0] %> toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body"><%= msg[0] %></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
<% } %>

<script>
  const formForgotPass = document.querySelector("#formForgotPass")
  const btnSubmit = document.querySelector("#btnSubmit")

  formForgotPass.addEventListener("submit", (e) => {
    btnSubmit.disabled = true
    btnSubmit.innerHTML = `<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>`
  })
</script>