<form method="post">
  <h1 class="fs-2 mb-3 fw-medium text-center">Đặt lại mật khẩu</h1>

  <% const { password, passwordVerify } = req.errors; %>

  <!-- Password input -->
  <div class="form-floating mb-3">
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="" value="<%= req.old.password %>" />
    <label for="inputPassword">Mật khẩu mới</label>
    <% if (password) { %>
    <span class="text-danger d-inline-block mt-1"><%= password %></span>
    <% } %>
  </div>

  <!-- Password input verify-->
  <div class="form-floating mb-3">
    <input name="passwordVerify" type="password" id="passwordVerify" class="form-control" placeholder="" value="<%= req.old.passwordVerify %>" />
    <label for="passwordVerify">Nhập lại mật khẩu mới</label>
    <% if (passwordVerify) { %>
    <span class="text-danger d-inline-block mt-1"><%= passwordVerify %></span>
    <% } %>
  </div>

  <button class="btn fw-medium btn-primary w-100 py-2" type="submit">Cập nhật</button>
</form>