<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Xin chào Anh Quân</h1>
  <a href="/dang-xuat" class="btn btn-primary">Đăng xuất</a>
</body>

</html>