@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  line-height: 1.4;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #333;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  font-family: inherit;
}

button {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.simple-alert {
  background-color: #ebebeb;
  border-left: 5px solid #6c6c6c;
}
.simple-alert .close {
  border-color: #6c6c6c;
  color: #6c6c6c;
}

.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #178344;
}
.success-alert .close {
  border-color: #178344;
  color: #178344;
}

.danger-alert {
  background-color: #f7a7a3;
  border-left: 5px solid #8f130c;
}
.danger-alert .close {
  border-color: #8f130c;
  color: #8f130c;
}

.warning-alert {
  background-color: #ffd48a;
  border-left: 5px solid #8a5700;
}
.warning-alert .close {
  border-color: #8a5700;
  color: #8a5700;
}

body {
  background-color: #f0f1f5;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

i {
  color: white;
}

.fa-spin {
  margin-right: 5px;
}

.header {
  position: sticky;
  top: -110px;
  z-index: 2;
}
.header .top-header {
  background-color: #2e2e2e;
}
.header .top-header .container .menu-channel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -11px;
}
.header .top-header .container .menu-channel .item-channel {
  padding: 6px 0;
  font-size: 1.2rem;
}
.header .top-header .container .menu-channel .item-channel .item-channel__link {
  padding: 6px 11px;
  color: #bbb;
  transition: color 0.2s;
}
.header .top-header .container .menu-channel .item-channel .item-channel__link:hover {
  color: #fff;
}
.header .main-header {
  background-color: #222;
}
.header .main-header .container {
  display: flex;
  align-items: center;
  padding: 20px 0 13px;
}
.header .main-header .container .wrap-logo {
  width: 180px;
}
.header .main-header .container .wrap-logo .link-logo .logo {
  display: block;
  max-width: 100%;
}
.header .main-header .container .trending {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 60px;
}
.header .main-header .container .trending .wrap-icon__trend {
  font-size: 1.8rem;
}
.header .main-header .container .trending .trend-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .main-header .container .trending .trend-list .trend-item {
  border-radius: 99px;
  font-size: 1.5rem;
  background-color: #4e4e4e;
  transition: background-color 0.2s;
}
.header .main-header .container .trending .trend-list .trend-item:hover {
  background-color: #3e3e3e;
}
.header .main-header .container .trending .trend-list .trend-item .trend-item__link {
  display: inline-block;
  padding: 7px 15px;
  font-weight: 500;
  color: #fff;
}
.header hr {
  height: 1px;
  background-color: #4e4e4e;
}
.header .nav {
  margin-left: -14px;
  background-color: #222;
}
.header .nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.header .nav .container .menu-list {
  display: flex;
  align-items: center;
}
.header .nav .container .menu-list .menu-item {
  padding: 12px 0;
}
.header .nav .container .menu-list .menu-item .menu-item__link {
  padding: 12px 14px;
  color: #fff;
  transition: color 0.2s;
}
.header .nav .container .menu-list .menu-item .menu-item__link:hover {
  color: #ed2e2e;
}
.header .nav .container .wrap__account {
  position: relative;
}
.header .nav .container .wrap__account .btn__account-login, .header .nav .container .wrap__account .btn__account-option {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  min-width: 105px;
  gap: 10px;
  line-height: 1.4;
  font-weight: 500;
  color: #fff;
  background-color: #222;
  transition: color 0.2s, scale 0.3s;
}
.header .nav .container .wrap__account .btn__account-login:hover, .header .nav .container .wrap__account .btn__account-option:hover {
  scale: 1.05;
}
.header .nav .container .wrap__account .btn__account-login .fa-user, .header .nav .container .wrap__account .btn__account-option .fa-user {
  font-size: 1.8rem;
  transition: color 0.2s;
}
.header .nav .container .wrap__account .btn__account-option {
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}
.header .nav .container .wrap__account .btn__account-option > * {
  pointer-events: none;
}
.header .nav .container .wrap__account .btn__account-option .user__hi {
  margin-right: -5px;
}
.header .nav .container .wrap__account .btn__account-option .user__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.header .nav .container .wrap__account .btn__account-option .user__avatar {
  min-width: 30px;
}
.header .nav .container .wrap__account .btn__account-option .user__avatar .user__avatar-img {
  display: block;
  max-width: 100%;
}
.header .nav .container .wrap__account .btn__account-logout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  color: #fff;
  background-color: #222;
  translate: 0 125%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}
.header .nav .container .wrap__account .btn__account-logout.hide {
  opacity: 0;
  visibility: hidden;
}
.header .nav .container .wrap__account .btn__account-logout:hover {
  color: #ed2e2e;
}
.header .nav .alert {
  max-width: 30%;
  width: 20%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  position: fixed;
  top: 200px;
  right: 30px;
  opacity: 1;
  visibility: visible;
  translate: 0;
  transition: opacity 0.3s, visibility 0.3s, translate 0.3s;
}
.header .nav .alert.hide {
  translate: 120% 0;
  opacity: 0;
  visibility: hidden;
}
.header .nav .alert .close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 25px;
  font-size: 1.6em;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.blog {
  margin-top: 30px;
}
.blog .container .blog-inner {
  margin-left: 60px;
  max-width: 700px;
}
.blog .container .blog-inner .heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 5rem;
  line-height: 0.9;
  color: #222;
}
.blog .container .blog-inner .heading .heading-icon {
  color: #ed2e2e;
}
.blog .container .blog-inner .wrap__post-blog {
  background-color: #f0f1f5;
  width: fit-content;
  margin-top: 30px;
  border-radius: 5px;
  color: #222;
}
.blog .container .blog-inner .wrap__post-blog .heading__post-blog {
  font-size: 2.5rem;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 15px;
  gap: 7px;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog label {
  font-size: 1.8rem;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog label i {
  color: #222;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog input {
  min-width: 350px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid #4e4e4e;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog .content__post-blog {
  width: 350px;
  height: 200px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #4e4e4e;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog .submit__post-blog {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #eee;
  background-color: #222;
  transition: opacity 0.3s;
}
.blog .container .blog-inner .wrap__post-blog .form__post-blog .submit__post-blog:hover {
  opacity: 0.9;
}
.blog .container .blog-inner .blog-list {
  position: relative;
  margin-top: 26px;
}
.blog .container .blog-inner .blog-list .blog-item, .blog .container .blog-inner .blog-list .blog-item__loading {
  border-top: 1px solid #ddd;
  padding: 20px 0 26px;
  color: #222;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user .user__img .user__avatar, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__img .user__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user .user__img .user__avatar-img, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__img .user__avatar-img {
  display: block;
  max-width: 100%;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user .user__info, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__info {
  width: 635px;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user .user__info .user__name, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__info .user__name {
  max-width: 100%;
  font-weight: 500;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user .user__info .user__time-up, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__info .user__time-up {
  display: flex;
  align-items: center;
  gap: 7px;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__user .user__info .user__time-up .fa-earth-americas, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__info .user__time-up .fa-earth-americas {
  color: #222;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__body, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body {
  margin-top: 10px;
  line-height: 1.4;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__body .blog-item__title, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body .blog-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 2rem;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__body .blog-item__title .blog-item__link, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body .blog-item__title .blog-item__link {
  font-weight: 600;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__body .blog-item__content, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body .blog-item__content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  font-size: 1.6rem;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__body .blog-item__content iframe, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body .blog-item__content iframe {
  margin-top: 5px;
  width: 700px;
  height: 394px;
}
.blog .container .blog-inner .blog-list .blog-item .blog-item__body .blog-item__content img, .blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body .blog-item__content img {
  max-width: 100%;
  object-fit: cover;
}
.blog .container .blog-inner .blog-list .blog-item__loading {
  width: 700px;
  position: absolute;
  bottom: 0;
  translate: 0 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0.2s, visibility 0.3s 0.2s, translate 0.2s;
}
.blog .container .blog-inner .blog-list .blog-item__loading.hide {
  opacity: 0;
  visibility: hidden;
  transition: translate 0.2s 0.3s;
  translate: 0 0;
}
.blog .container .blog-inner .blog-list .blog-item__loading .loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user {
  width: 100%;
}
.blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blog .container .blog-inner .blog-list .blog-item__loading .blog-item__user .user__info {
  height: 50px;
}
.blog .container .blog-inner .blog-list .blog-item__loading .blog-item__body {
  height: 200px;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.blog .auth-wrap {
  position: fixed;
  inset: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleZ(0);
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.blog .auth-wrap.show {
  visibility: visible;
  opacity: 1;
}
.blog .auth-wrap.show {
  transform: scaleZ(1);
}
.blog .auth-wrap .auth-overlay {
  position: fixed;
  z-index: -1;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
.blog .auth-wrap .auth-container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 460px;
  max-height: 100vh;
  border-radius: 3px;
  padding: 0 40px 30px;
  background: #fff;
  overflow-y: auto;
}
.blog .auth-wrap .auth-container .auth-nav {
  margin: 0 -40px;
  display: flex;
}
.blog .auth-wrap .auth-container .auth-nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  height: 56px;
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: 600;
  color: #999;
  background: #eee;
}
.blog .auth-wrap .auth-container .auth-nav .active {
  background: #fff none;
  color: #333;
}
.blog .auth-wrap .auth-container .auth-panel {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab.d-none {
  display: none;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form > *, .blog .auth-wrap .auth-container .auth-panel .auth-tab > *:not(.auth-form) {
  margin: 16px 0 0;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-desc {
  display: flex;
  justify-content: center;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-desc.line {
  position: relative;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-desc.line span {
  padding: 0 20px;
  background: #fff;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-desc.line span::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid #eee;
  transform: translateY(-50%);
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form > .auth-message {
  margin-top: 15px !important;
  text-align: center;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-message {
  display: none;
  margin: 8px 0 0;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-message.error {
  display: block;
  font-style: italic;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-message.error i {
  color: #ef4444;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-message.success {
  display: block;
  font-style: italic;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-message.success i {
  color: #4f8a10;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-label {
  display: inline-block;
  margin: 0 0 2px;
  font-weight: 500;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-forgot {
  background-color: #fff;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-forgot i {
  color: #808080;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row {
  position: relative;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row .auth-input {
  width: 100%;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 16px 10px;
  line-height: 1.57;
  color: #333;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row .auth-input.error {
  border-color: #ef4444;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row.password .auth-input {
  padding-right: 44px;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row.password .auth-view {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 44px;
  height: 44px;
  font-size: 1.4rem;
  background-color: transparent;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row.password .auth-view i {
  color: gray;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-row.password .auth-view i.d-none {
  display: none;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control.action {
  text-align: right;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control.term {
  color: #666;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control.term a {
  font-weight: 500;
}
.blog .auth-wrap .auth-container .auth-panel .auth-tab .auth-form .auth-control .auth-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 600;
  color: #f8fafc;
  border-radius: 5px;
  background: #222;
}

/*# sourceMappingURL=style.css.map */
