.column-item {
  height: calc(100vh - $boardHeight - 40px);
  padding: 0 8px 0;

  .column-inner {
    min-width: 300px;
    max-width: 300px;
    height: fit-content;
    max-height: calc(100vh - $boardHeight - 40px);
    border-radius: 12px;
    padding: 12px 8px;
    background-color: $bgItem;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;

    @if $dragging {
      cursor: grabbing;
    } @else {
      cursor: grab;
    }

    .column-header {
      color: $primaryColor;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding-right: 7px;

      .column-header__textarea {
        padding: 6px 8px 6px 12px;
        flex: 1 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.25;
        resize: none;
        overflow-y: auto;
        max-height: 120px;

        &:read-only {
          @if $dragging {
            cursor: grabbing;
          } @else {
            cursor: grab;
          }
        }

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: #fafafa;
          border-radius: 99px;
        }

        &::-webkit-scrollbar-thumb {
          background-image: linear-gradient(-45deg, #af40ff, #5b42f3, #00ddeb);
          border-radius: 99px;
        }
      }

      .btn__remove-column {
        @include btn(#7986cb, #3f51b5, #1a237e);
      }
    }

    @import 'card';

    .column-footer {
      display: flex;
      padding: 0 7px;
      .btn-open__add-card {
        flex: 1 0;

        @include btn(#64b5f6, #1e88e5, #0d47a1);

        .text {
          display: inline-flex;
          gap: 15px;
        }
      }

      .wrap__action-adding-card {
        display: flex;
        width: 100%;
        gap: 10px;
        .btn__add-card {
          flex: 1 0;
          @include btn(#64b5f6, #1e88e5, #0d47a1);
          .text {
            display: inline-flex;
            gap: 10px;
          }
        }

        .btn-cancel__add-card {
          @include btn(#ef9a9a, #f44336, #b71c1c);
        }
      }
    }

    .wrap__add-column {
      .btn__add-column {
        width: 100%;
        @include btn($min-w: 150px);

        .text {
          display: inline-flex;
          gap: 15px;
        }
      }

      .form__add-column {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 8px;
        border-radius: 12px;
        background-color: $bgItem;

        @include show-hide();
        .wrap-textarea {
          border: 1px solid $primaryColor;
          border-radius: 6px;
          padding: 10px 5px 10px 0;
          .container__wrap-textarea {
            padding: 10px 5px 10px 10px;

            overflow-y: auto;
            max-height: 120px;

            &::-webkit-scrollbar {
              width: 5px;
            }

            &::-webkit-scrollbar-track {
              background-color: #fafafa;
              border-radius: 99px;
            }

            &::-webkit-scrollbar-thumb {
              background-image: linear-gradient(-45deg, #af40ff, #5b42f3, #00ddeb);
              border-radius: 99px;
            }

            .textarea__add-column {
              width: 100%;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.25;
              resize: none;
            }
          }
        }

        .wrap__action {
          display: flex;
          gap: 10px;
          margin-top: 5px;
          .btn__add-column {
            @include btn(#64b5f6, #1e88e5, #0d47a1);
          }

          .btn-cancel__add-column {
            @include btn(#ef9a9a, #f44336, #b71c1c);
          }
        }
      }
    }
  }
}
